.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

h2.title {
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

ul.description {
  list-style: none;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  padding: 0;
  margin: 4rem 0;
}